# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
android/local.properties
android/.gradle/
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig

# macOS
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
